.container{
    font-family: "friday 13";
    font-size: 50px;
   
    
    max-width: 800px;
    
    margin-left: 300px;
    box-shadow: 0 0 20px 10px rgba(240, 14, 7, 0.568);
    border-radius: 20px;
    background-color: rgba(226, 12, 12, 0.952);
    color: white;
    
   

}
@font-face {
    font-family: "friday 13";
    src: url(../Nav/Friday13SH.ttf) format("truetype");
  }